*{
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    text-decoration: none;
}
section{
    padding: 20px 100px;
}
header{
    color: blue;
    background-color: lightblue;
    padding: 30px 0px;
}
footer{
    color: blue;
    background-color: lightblue;
    padding: 10px 0px;
}

.home{
    background-color: lightcoral;
}
.about{
    background-color: lightcyan;
}
.contact{
    background-color: lightgrey;
}
h2{
    background-color: aquamarine;
    padding: 20px;
}
p{
    background-color: lightyellow;
    font-size: 18px;
    text-align: justify;
    padding: 20px 10px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    display: block;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 600;
}
nav ul li a:hover{
    background-color: black;
    color: white;
}